extends layouts/main
include mixins/videoPlayer

block content
    .video-detail
        .video-detail__player
            +videoPlayer({
                src: video.fileUrl
            })
        .video-detail__info
            if loggedUser && video.creator.id === loggedUser.id
                .d-flex.justify-content-end
                    button.video__edit-btn.btn.btn-outline-secondary
                        a(href=routes.editVideo(video.id)) Edit Video
            h5.video__title.text-justify=video.title
            p.video__description.text-justify=video.description
            if video.views === 1
                p.video__views 1 view
            else 
                p.video__views #{video.views} views
        .video-detail__author.text-right
            p Uploaded by 
                a(href=routes.userDetail(video.creator.id))=video.creator.name
        .video-detail__comments
            if video.comments.length === 1
                span.video__comment-number 1 comment
            else
                span.video__comment-number #{video.comments.length} comments
            form.video-detail__comments-form
                .form-group
                    input#comment.form-control(type='text' aria-describedby='Comment')
                .d-flex.justify-content-end
                    button.btn.btn-outline-secondary.font-weight-normal.font-size-09rem.mr-2.fixed-width(type="reset") Reset
                    button.btn.btn-outline-danger.font-weight-normal.font-size-09rem.fixed-width(type="submit") Submit
            ul.video__comments-list
                each comment in video.comments
                    span comment.text 