extends layouts/main

block content
    .video-detail
        .video-detail__player
            video(src=`/${video.fileUrl}`, controls)
        .video-detail__info
            if video.creator.id === loggedUser.id
                button.btn.btn-warning.mb-4
                    a(href=routes.editVideo(video.id)) Edit Video
            h5.video__title.text-justify=video.title
            span.video__views=video.views
            p.video__description.text-justify=video.description 
        .video-detail__author
            p Uploaded by 
                a(href=routes.userDetail(video.creator.id))=video.creator.name
        .video-detail__comments
            if video.comments.length === 1
                span.video__comment-number 1 comment
            else
                span.video__comment-number #{video.comments.length} comments 