header
    nav.navbar.navbar-expand-lg.navbar-light.bg-white.fixed-top
        a.navbar-brand.font-weight-bolder.mr-3(href=routes.home) 
            span.fab.fa-youtube.mr-2
            span YOUTUBE CLONE
        button.navbar-light.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsDefault' aria-controls='navbarsDefault' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon

        #navbarsDefault.collapse.navbar-collapse
            ul.navbar-nav.mr-auto.align-items-center
                form.bd-search.hidden-sm-down(action=routes.search, method="get")
                    input#search-input.form-control.bg-graylight.border-0.font-weight-bold(type='search', name="term", placeholder="Search", aria-label="Search")
                    #search-results.dropdown-menu.bd-search-results

            ul.navbar-nav.ml-auto.align-items-center
                li.nav-item
                    a.nav-link.active(href=routes.home) Home
                if !loggedUser
                    li.nav-item
                        a.nav-link(href=routes.join) Join
                    li.nav-item
                        a.nav-link(href=routes.login) Log In
                else    
                    li.nav-item
                        a.nav-link(href=`/videos${routes.upload}`) Upload
                    li.nav-item
                        a.nav-link(href=routes.me) Profile
                    li.nav-item
                        a.nav-link(href=routes.logout) Log Out
